h1 {
    color: white;
    text-align: center
}

header {
    border-bottom: 3px solid red;
    background-color: black;
    border-top: 3px solid red;
    padding-bottom: 0;
}

h2 {
    color: red;
    text-align: center;
}

#main-pic {
    width: 100%;
}

#about-pic {
    width: 50vh;
    display: flex;
    flex-direction: row;
}

body {
    padding: 0;
    margin: 0px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

#Main-Title a:visited {
    color: white;
}

#Main-Title a {
    color: white;
}


nav { 
    border-bottom: 3px solid red;
    /* background-color: white; */
}



ul {
    padding-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

div {
    display: flex;
    flex-wrap: wrap;
}

.crumb {
    margin-right: 6em;
    margin-top: 0;
}

.dark-mode {
	background-color: black;
	color: white;
}

.light-mode {
	background-color: white;
	color: black;
}